*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1170px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.svg-container {
  margin: 100px auto;
  max-width: 500px;
  height: 500px;
  width: 100%;
}

.delete-svg svg{
  width: 500px;
  height: 500px;
  margin: 20px auto;
  padding-top: 10px;
  padding-left: 20px;
}